@import url("https://fonts.googleapis.com/css2?family=Exo&family=Josefin+Sans:wght@300;400&family=Lato&family=Maven+Pro&family=Montserrat&family=Oxygen:wght@300;400&family=Prosto+One&family=Radio+Canada&family=Roboto:wght@300&display=swap");
* {
  font-family: "Josefin Sans", "sans-serif";
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4em;
}

h2 {
  padding-top: 1em;
  padding-left: 2em;
  padding-bottom: 0.2em;
  text-decoration: underline;
}

h3 {
  font-size: 2em;
}

h4 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 0.5em;
}

h6 {
  font-weight: bold;
  text-decoration: underline;
}

p {
  text-align: center;
  /* color: white; */
}

body {
  padding-top: 50px;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  padding-bottom: 5px;
}

.img-1 img {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  border-radius: 20px;
}

.tech-list {
  padding-top: 2em;
  font-weight: 300;
}

.tech-list li {
  display: inline;
}

.home {
  width: 100vw;
  height: 100vh;
  color: white;
  background: rgba(0, 0, 0, 0.7) url(assets/kb-bg.jpg);
  background-size: cover;
  background-blend-mode: darken;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  border-bottom: 1px solid #ddd9d9;
}

section .work-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

section a:not(.prev):not(.next) {
  color: #547671;
  padding: 0.5em;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

section a:not(.prev):not(.next):before, section a:not(.prev):not(.next):after {
  position: absolute;
  content: "";
  border-bottom: 3px solid #547671;
  border-radius: 1em;
  bottom: 0.3em;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

section a:not(.prev):not(.next):before {
  width: 1em;
  -webkit-transform-origin: right;
          transform-origin: right;
}

section a:not(.prev):not(.next):after {
  width: 100%;
  left: 1em;
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
}

section a:not(.prev):not(.next):hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

section a:not(.prev):not(.next):hover:after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

section:nth-child(2n + 1) {
  background-color: #f9f9f9;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  width: 95%;
}

.slideshow-container img {
  width: 100%;
  border-radius: 5px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 500px) {
  .about-skills {
    width: 40%;
  }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: row;
        -ms-flex: row;
            flex: row;
  }
  .about-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 50px;
    width: 60%;
  }
}
/*# sourceMappingURL=style.css.map */