@import url("https://fonts.googleapis.com/css2?family=Exo&family=Josefin+Sans:wght@300;400&family=Lato&family=Maven+Pro&family=Montserrat&family=Oxygen:wght@300;400&family=Prosto+One&family=Radio+Canada&family=Roboto:wght@300&display=swap");
* {
  font-family: "Josefin Sans", "sans-serif";
}
.navbar {
  padding: 0.6em 0.6em 0 0;
}
.navbar-toggler {
  background-color: rgb(182, 181, 181) !important;
}
.navbar ul {
  background-color: rgb(182, 181, 181);
  border-radius: 2em;
}
article {
  /* margin-top: 2rem; */
  margin-left: 15%;
  margin-right: 15%;
}

h1,
h2,
h3,
p {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 3rem;
  text-decoration: underline;
  margin-top: 1rem;
  text-align: center;
}
h2 {
  font-size: 1.5rem;
}
p {
  font-size: 1rem;
  line-height: 2;
}
time {
  line-height: 2.5;
}
ul {
  list-style: none;
  padding-left: 0;
}
ul li {
  padding-bottom: 5px;
  /* padding: 0.4em; */
  /* padding-left: 2em; */
  padding: 0.5em 1.5em;
}
.card {
  border: 1px solid gray;
}
.card:hover {
  background-color: #dfdad5;
  border: 1px solid darkgrey;
}

@media (min-width: 600px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    margin-top: 2rem;
    padding: 0.5em;
  }
}
